:root {
    --grey-000: #ffffff;
    --grey-100: #F7FAFC;
    --grey-200: #EDF2F7;
    --grey-300: #E2E8F0;
    --grey-400: #CBD5E0;
    --grey-500: #A0AEC0;
    --grey-600: #718096;
    --grey-700: #4A5568;
    --grey-800: #2D3748;
    --grey-900: #1A202C;

    --berry-100: #FDEDF1;
    --berry-200: #FBD1DB;
    --berry-300: #F9B5C5;
    --berry-400: #F47E9A;
    --berry-500: #EF476F;
    --berry-600: #D74064;
    --berry-700: #8F2B43;
    --berry-800: #6C2032;
    --berry-900: #481521;

    --teal-100: #EAF5F4;
    --teal-200: #CAE7E3;
    --teal-300: #AAD8D2;
    --teal-400: #6ABAB1;
    --teal-500: #2A9D8F;
    --teal-600: #268D81;
    --teal-700: #195E56;
    --teal-800: #134740;
    --teal-900: #0D2F2B;
    --teal-gradient: linear-gradient(124deg, rgba(42, 157, 143, 1) 43%, rgba(25, 94, 86, 1) 100%);
}